
//------------- Amatic font ---------
@font-face {
    font-family:"Amatic";
    src: url("../../public/fonts/amatic-font/AmaticSC-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family:"Amatic";
    src: url("../../public/fonts/amatic-font/AmaticSC-Bold.ttf");
    font-weight: bold;
}
//------------- Peter font ---------
@font-face {
    font-family:"Peter";
    src: url("../../public/fonts/peter-font/Peter-Test-Regular-BF641a6402db1bd.otf");
    font-weight: normal;
}

@font-face {
    font-family:"Peter";
    src: url("../../public/fonts/peter-font/Peter-Test-Bold-BF641a6402d8b43.otf");
    font-weight: bold;
}