* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

*::after,
*::before {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}
// ------ General style --------
body {
  font-family: "Peter", sans-serif;
}

h1,
h2 {
  font-family: "Amatic", sans-serif;
  font-weight: bold;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 90vw;
  max-width: 1400px;
}
//-------------------------------

.navbar {
  height: 10vh;
  .logo {
    font-family: "Peter", sans-serif;
    font-weight: bold;
  }

  .nav-container {
    font-weight: bold;

    li {
      .link {
        position: relative;
        cursor: pointer;
      }

      .link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.3rem;
        width: 0%;
        height: 0.1rem;
        background-color: $dark-red;
        transition: all 300ms;
      }

      .link:hover {
        color: black !important;
      }

      .link:hover::after {
        width: 100%;
      }
    }

    .dropdown-container {
        &  .submenu {
          visibility: hidden;
          opacity: 0;
          top: 150%;
          width: max-content;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          transform: translateY(40px);
          transition: all 500ms;
          z-index: 2;

          a:hover{
            color:$dark-red !important;
          }

          .deep-submenu{
            visibility: hidden;
            opacity: 0;
            width: max-content;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            transform: translateX(40px);
            top: 25%;
            left:100%;
            transition: all 500ms;
            a:hover{
                color:$dark-red !important;
            }
          }

          li:hover > .deep-submenu{
            visibility: visible;
            opacity: 1;
            transform: translateX(0px);
         }
        }

        &:hover .submenu {
         visibility: visible;
         opacity: 1;
         transform: translateY(0px);
        }
    }
  }
}

.hero-container {
  .text-description {
    flex-basis: 35%;
    h1 {
      font-size: 3.5rem;
    }

    .btn-book-table:hover{
        box-shadow: 0 5px 15px $light-red;
    }

    .btn-watch-video:hover, .btn-watch-video:hover i{
        color: $light-red !important;
        transition: color 300ms;
    }
  }

  .hero-image {
    flex-basis: 40%;
  }
}

//-----------------------------
@media (max-width: 426px) {
  .hero-container {
    .text-description {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
