.main-section{
    // ------ default style --------
    h2{
        font-size: 3rem;
    }

    p{
        color: $dark-gray;
    }
    //------------------

    // -------- About us ---------
    .about-us-container{
        .restaurant-img{
            min-height: 31.25rem;
            width: 100%;
            left: 0;
            right: 0;
            background-image: url(../images/about.jpg);
            background-position: top-left;
            background-repeat: no-repeat;
            flex-basis: 55%;
            .phone-number{
                bottom: 10%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    
        .video-desc{
            flex-basis: 40%;
            li::before{
                content:url("../images/double-check.png");
            }
        }
    }

    // -----------------

    // ------- why us ---------
    .why-us{
        .red-lions{
            flex-basis: 60%;

            .btn-learn-more:hover{
                background-color: white !important;
                color: $light-red !important;
            }

        }
        
        .info-card{
            transition: all 200ms;

            .icon-container{
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .info-card:hover{
            transform: scale(1.07);
        }
    }
    // ------- end of why us ---------

    // ------- general info ----------
    .general-info{
        background-image: url("../images/stats-bg.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        background-attachment: fixed;
        .info-container{
            width: 80vw;
            max-width: 1100px;
            h3{
                font-size: 2.8rem;
            }
        }
    }
    // ------- end of general info ----------

    // ------- our menu section -------

    .our-menu{

        .tab-link{
            border-bottom: 3px solid $dark-gray;
        }

        .tab-link.active{
            color: $dark-red !important;
            border-color: $dark-red;
        }
    }

    // -------end of our menu section -------
    
    // ------- chef section -------
    .chef-section{
        .card{
            transition: all 500ms;

            .wave-shape{
                position: absolute;
                bottom: -1px;
            }

            .social-media{
                right: 2%;
                top: 10%;
                transform: translateX(120%);
                background-color: rgba(255, 255, 255, 0.4);
                transition: all 500ms 500ms;
                i{
                    font-size: 1.5rem;
                    cursor: pointer;
                }
            }
        }
        .card:hover{
            transform: scale(1.08);
            .social-media{
                transform: translateX(0%);
            }
        }
    }
    // ------- contact us section -------
    .contact-us{

        iframe{
            height:300px;
        }

        .icon-container{
            width: 55px;
            height: 55px;

            & + div p{
                font-size: .85rem;
            }
        }
    }
}

// ------- desktop responivenace -------------


@media(min-width: 769px){

    .main-section{
        // ------- our menu section -------

        .our-menu{
            .grid-system{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 5rem;
            }
        }
         // ------- chef section -------
        .chef-section{
            .grid-system{
                display: grid;
                column-gap: 1.5rem;
                grid-template-columns: repeat(3, 1fr);
            }
        }
        // ----- book a table section ------
        .book-table{

            .image{
                flex:1;
            }

            .form-input{
                flex:2;
                .grid-system{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1.2rem;

                    .message{
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }
                }
            }
        }

        //-------
        .contact-us{

            iframe{
                height:50vh;
            }
            .grid-system{
                display: grid;
                gap: 1.2rem;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        //-------
        .send-message{
            .grid-send-message{
                display: grid;
                gap: 1.2rem;
                grid-template-columns: repeat(2, 1fr);
                .third-child{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }   
                .fourth-child{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }   
            }
        }
    }
}
// ------- between mobile and tablet responivenace -------------

@media((min-width:426px) and (max-width:768px)){
    .main-section{
 // ------- general info ----------
    .general-info{
        .info-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5rem;
        }
    }
    
    .chef-section{
        .grid-system{
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .book-table{
        .form-input{
            .grid-system{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1.2rem;

                .message{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
    }

        //-------
        .contact-us{
            .grid-system{
                display: grid;
                gap: 1.2rem;
                grid-template-columns: repeat(2, 1fr);
            }
        }
 }

}

//----------- arrow back top --------
.arrow-back-top{
    height: 3rem ;
    width: 3rem ;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ;
}

.arrow-back-top.show-on{
    opacity: 1;
    visibility: visible;
}